@page
@model DetailsModel

@{
    ViewData["Title"] = Model.Service.Name;
    ViewData["page-name"] = "services";
}

<link rel="stylesheet" href="~/css/service-details.css" asp-append-version="true" />
<link href="~/lib/lightbox/lightboxed.css" rel="stylesheet">

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>@Model.Service.Name</h2>
        <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li>@Model.Service.Name</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- ======= Service Details Section ======= -->
<section id="service-details" class="service-details">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-12">
                <div class="row detail-list mb-lg-5 mb-md-5 mb-3">
                    <div class="col-md-3 col-6">
                        <a asp-page="/services/details" asp-route-id="1" class="@(Model.Service.Id == 1 ? "active" : "")">
                            Event MC/Compere
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a asp-page="/services/details" asp-route-id="2" class="@(Model.Service.Id == 2 ? "active" : "")">
                            Alaga Iduro/Ijoko
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a asp-page="/services/details" asp-route-id="3" class="@(Model.Service.Id == 3 ? "active" : "")">
                            Clowning and Costuming
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a asp-page="/services/details" asp-route-id="4" class="@(Model.Service.Id == 4 ? "active" : "")">
                            Trainings
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4 class="mb-3">@Model.Service.Tagline</h4>
                <img src="@Model.Service.ImageName" alt="" class="img-fluid services-img8 ps-lg-4">
                <p>
                    @Html.Raw(Model.Service.Content)
                </p>
            </div>
        </div>
    </div>
</section><!-- End Service Details Section -->
<!-- ======= CTA Section ======= -->
<partial name="~/Pages/Partials/_CTA.cshtml" />
<!-- End CTA Section -->


<div id="gallery-section"></div>

<!-- ======= Testimonials Section ======= -->
@await Html.PartialAsync("~/Pages/Partials/_Testimonials.cshtml", Model.Testimonials)
<!-- End Testimonials Section -->



@section Scripts {
    <script src="~/lib/lightbox/lightboxed.js"></script>

    <script>
        $(document).ready(function () {
            $('#gallery-section')
                .load('@Url.Content("~/services/details")?handler=GalleryImages&id=@Model.Service.Id');
        });
    </script>
}