@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Testimonials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Service.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Testimonial?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
